.info{
    margin: 70px auto;
    width : 60vw;
    height : 60vh;
    color : #000;
    /* border : 2px solid red ; */
    justify-content: center;
    align-items: center;
}
h3{
    text-align: center;
}