
.header{
    height : 50px;
    margin-bottom: 20px;
    /* border : 2px solid red ; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 211, 0);
    position : fixed ;
    top:0;
    width : 100%;
}
.header a{
    color : #FFF
}
.contact{

    flex : 20%;
}
.logo{
    flex:50%;
    height:fit-content;
}
.logo img{
    height : 80px;
    width: 80px;
}
.login{

    flex : 10%;
}
.register{
    flex : 15%;
}
