.registration-form{
    margin : 70px auto ; 
    width : 50vw ; 
    height :fit-content ;
    padding: 50px;  
   
}
.registration-form label{
    font-size: 20px;
  
}
.registration-form input{
  width: 99%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}
.registration-form button{
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

